body {
  background-color: #e5ff3d;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'avenir next';
}

p {
  color: black;
  text-align: center;
  font-family: 'avenir next';
  font-size: 16px;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row: after {
  content: "";
  display: table;
  clear: both;
}
